{% extends "/base.html" %}

{% block header %}
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/range.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/option_hide.js') }}" defer></script>
{% endblock %}

{% block content %}
{% for monitor in users_monitors %}
    <div class="box">
            <div class="grid">
                    <div class="cell">
                        <a class="" href="{{ url_for('main.monitors') + "/" + monitor.id|string }}">{{ monitor.name }}</a>
                    </div>
                    <div class="cell">
                        <p class="">Status: {{ monitor.status }}</p>
                    </div>
                    <div class="cell">
                        <p class="">Last Checked: {{ monitor.last_checked_at }}</p>
                    </div>
                    <div class="cell">
                        <p class="">Owner ID: {{ monitor.user_id }}</p>
                    </div>
            </div>
    </div>
{% endfor %}
</div>
{% endblock %}
