.hero.is-primary {
  background-color: #222222;
}

.hero.is-primary a.navbar-item:hover {
  background-color: #111111;
}

.box {
  background-color: #111111;
}

.has-background-gray {
    background-color: #333333;
}

.button.is-wrap {
  white-space: normal;
  word-wrap: break-word;
  display: inline-block;
  text-align: center;
}

.round {
  border-radius: 0.375rem;
}

.ellipsis {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}