{% extends "/base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title has-text-white">Зарегистрироваться</h3>
    <div class="box">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                {% if category == 'signup' %}
                    <div id="modal-notification" class="notification is-danger">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endwith %}
        <form method="POST" action="/auth/signup">
            <div class="field">
                <div class="control">
                    <label>
                        <input class="input is-large" required type="email" name="email" placeholder="Электронная почта" minlength="5" maxlength="50" autofocus="">
                    </label>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label>
                        <input class="input is-large" required type="text" name="username" placeholder="Имя пользователя" minlength="3" maxlength="50" autofocus="">
                    </label>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label>
                        <input class="input is-large" required type="password" name="password" minlength="8" maxlength="100" placeholder="Пароль">
                    </label>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label>
                        <input class="input is-large" required type="password" name="confirm" minlength="8" maxlength="100" placeholder="Подтверждение пароля">
                    </label>
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Зарегистрироваться</button>
        </form>
    </div>
</div>
{% endblock %}
