{% extends "/base.html" %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="block">
        <button class="has-text-black js-modal-trigger button is-block is-info is-large is-fullwidth" data-target="monitor-add-modal">
            Add monitor
        </button>
    </div>
<div class="block">
{% for monitor in user_monitors %}
    <div class="box">
        <form method="POST" action="{{ url_for('main.monitors_delete', monitor_id=monitor.id) }}">
            <div class="grid">
                <div class="cell">
                    <a class="" href="{{ url_for('main.monitor', monitor_id=monitor.id) }}">{{ monitor.name }}</a>
                </div>
                <div class="cell">
                    {% if monitor.status %}
                        <p class="">Status: Up</p>
                    {% elif monitor.status == None %}
                        <p class="">Status: Yet unknown</p>
                    {% else %}
                        <p class="">Status: Down</p>
                    {% endif %}
                </div>
                <div class="cell">
                    <p class="">Last Checked: {% if monitor.last_checked_at %}{{ monitor.last_checked_at.strftime("%d-%m-%Y %H:%M") }} {% else %} Not yet {% endif %}</p>
                </div>
                <div class="cell has-text-right">
                    <button class="button is-danger is-small">Delete</button>
                </div>
            </div>
        </form>
    </div>
{% endfor %}
</div>
{% include '/main/modals/add_monitor_modal.html' %}
{% endblock %}
