{% extends "/base.html" %}

{% block content %}
<h1 class="title has-text-white has-text-left">
  Добро пожаловать, {{ username }}!
</h1>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div id="modal-notification" class="notification is-danger">
                {{ message }}
            </div>
        {% endfor %}
    {% endwith %}
    <div class="fixed-grid has-2-cols has-1-cols-mobile">
        <div class="grid">
            <div class="cell">
                <form method="POST" action="{{ url_for('main.profile_change_email') }}">
                    <div class="field">
                        <div class="control">
                            <label>
                                <input class="input is-large" required type="email" name="email" placeholder="Электронная почта" minlength="5" maxlength="50" autofocus="">
                            </label>
                        </div>
                    </div>
                    <button class="button is-block is-info is-large is-fullwidth">Изменить электронную почту</button>
                </form>
            </div>
            <div class="cell">
                <form method="POST" action="{{ url_for('main.profile_change_username') }}">
                    <div class="field">
                        <div class="control">
                            <label>
                                <input class="input is-large" required type="text" name="username" placeholder="Имя пользователя" minlength="5" maxlength="50" autofocus="">
                            </label>
                        </div>
                    </div>
                    <button class="button is-block is-info is-large is-fullwidth">Изменить имя пользователя</button>
                </form>
            </div>
        </div>
    </div>
<a class="button is-block is-warning is-medium is-fullwidth" href="{{ url_for('auth.logout') }}">Выйти из аккаунта</a>
{% endblock %}
