{% block add_dashboard_modal %}
<div id="dashboard-add-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                {% if category == 'dash' %}
                    <div id="modal-notification" class="notification is-danger">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endwith %}
        <form method="POST" action="{{ url_for('dash.dashboards') }}">
            <div class="field">
                <div class="control">
                    <label>
                        <input class="input is-large" required type="text" name="name" placeholder="Название" maxlength="50" autofocus="">
                    </label>
                </div>
            </div>
            <button class="button is-block is-info is-large is-wrap">Добавить страницу состояний</button>
        </form>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
{% endblock %}