{% block dashboard_add_monitor_modal %}
<div id="dashboard-add-monitor-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                {% if category == 'monitor' %}
                    <div id="modal-notification" class="notification is-danger">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endwith %}
        <form method="POST" action="{{ url_for('dash.dashboards_monitor_add') }}">
            <input type="hidden" id="hidden_id" name="dashboard_id" value="">
            <div class="field level-left has-text-left">
                <div class="control">
                    <p>Выберите монитор</p>
                    <div class="select is-medium">
                        <label>
                            <select id="monitor_id" name="monitor_id">
                                {% for monitor in user_monitors %}
                                <option value="{{ monitor.id }}">{{ monitor.name }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                </div>
            </div>
            <button class="button is-block is-info is-large">Добавить монитор</button>
        </form>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
{% endblock %}