{% for monitor in user_dashboard_monitors %}
<div class="block">
    <div class="box">
            <div class="grid">
                    <div class="cell">
                        <a class="is-link" href="{{ url_for('main.monitors') + monitor.id|string }}">{{ monitor.name }}</a>
                    </div>
                    <div class="cell">
                        <p class="">Last Checked: {% if monitor.last_checked_at %}{{ monitor.last_checked_at.strftime("%d-%m-%Y %H:%M") }} {% else %} Not yet {% endif %}</p>
                    </div>
                    <div class="cell">
                        {% if monitor.status %}
                            <p class="status">Status: Up</p>
                        {% elif monitor.status == None %}
                            <p class="status">Status: Yet unknown</p>
                        {% else %}
                            <p class="status">Status: Down</p>
                        {% endif %}
                    </div>
            </div>
    </div>
</div>
{% endfor %}