{% extends "/base.html" %}

{% block header %}
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="block">
        <button class="has-text-black js-modal-trigger button is-block is-info is-large is-fullwidth is-wrap" data-target="dashboard-add-modal">
            Добавить страницу состояний
        </button>
    </div>
<div class="block">
{% for dashboard in dashboards %}
    <div class="box has-background-gray">
        <form method="POST" action="{{ url_for('dash.dashboards_delete', dashboard_id=dashboard.dashboard.id) }}">
            <div class="fixed-grid has-3-cols has-1-cols-mobile">
                <div class="grid">
                    <div class="cell has-text-left-desktop">
                        <a class="has-text-white title" href="{{ url_for('dash.dashboards') + dashboard.dashboard.id|string }}">{{ dashboard.dashboard.name }}</a>
                    </div>
                    <div class="cell is-flex is-align-items-center is-justify-content-center">
                        <a class="link has-text-center" href="{{ url_for('dash.dashboard', dashboard_id=dashboard.dashboard.id) }}">{{ url_for('dash.dashboard', dashboard_id=dashboard.dashboard.id) }}</a>
                    </div>
                    <div class="columns is-mobile is-vcentered">
                        <div class="column is-flex-grow-1-desktop is-hidden-mobile"></div>
                        <div class="column is-flex-grow-0-desktop is-flex-grow-1-mobile">
                            <button class="button is-info js-modal-trigger is-small" type="button" data-target="dashboard-add-monitor-modal" data-value="{{ dashboard.dashboard.id|string }}">Добавить монитор</button>
                        </div>
                        <div class="column is-flex-grow-0-desktop is-flex-grow-1-mobile">
                            <button class="button is-danger is-small" type="submit">Удалить</button>
                        </div>
                    </div>
                </div>
            </div>
            {% if dashboard.owned_monitors or dashboard.shared_monitors %}
                <div class="spacer"></div>
            {% endif %}
        </form>
    {% for monitor in dashboard.owned_monitors %}
        <div class="box">
            <form method="POST" action="{{ url_for('dash.dashboards_monitor_delete', dashboard_id=dashboard.dashboard.id, monitor_id=monitor.id) }}">
                <div class="fixed-grid has-3-cols-desktop has-1-cols-mobile">
                    <div class="grid">
                        <div class="cell">
                            <a class="has-text-white subtitle" href="{{ url_for('mnts.monitor', monitor_id=monitor.id ) }}">{{ monitor.name }}</a>
                        </div>
                        <div class="cell is-hidden-mobile"></div>
                        <div class="cell has-text-right">
                            <button class="button is-danger is-small" type="submit">Удалить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% endfor %}
    {% if dashboard.shared_monitors %}
        <p class="has-text-white has-text-left">Сторонние мониторы:</p>
        {% for monitor, email in dashboard.shared_monitors %}
            <div class="box">
                <form method="POST" action="{{ url_for('dash.dashboards_monitor_delete', dashboard_id=dashboard.dashboard.id, monitor_id=monitor.id) }}">
                    <div class="fixed-grid has-3-cols-desktop has-1-cols-mobile">
                        <div class="grid">
                            <div class="cell">
                                <a class="has-text-white subtitle" href="{{ url_for('mnts.monitor_shared', monitor_id=monitor.id ) }}">{{ monitor.name }}</a>
                            </div>
                            <div class="cell">
                                <p class="has-text-white subtitle">Владелец: {{ email }}</p>
                            </div>
                            <div class="cell has-text-right">
                                <button class="button is-danger is-small" type="submit">Удалить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        {% endfor %}
    {% endif %}
    </div>
{% endfor %}
</div>
{% include "/dash/modals/add_dashboard_modal.html" %}
{% include "/dash/modals/dashboard_add_monitor_modal.html" %}
{% endblock %}
